<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <%= link_to 'Facebook', new_session_path,class: "navbar-brand" %>
          
          <%= link_to 'Faire un tweet', new_sesion_path,class: "d-flex" %>
          </div>
        </div>
      </nav>